.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #1c2541;
    background-color: whitesmoke;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #2e6884;
    transform: translateX(-0.1rem);
    transition: transform 0.7s;
}

.choice-tag {
    padding: 1.5rem 2.5rem;
    background-color: #2e6884;
    color: whitesmoke;
}

.choice-text {
    color: #031927;
    padding: 1.5rem;
    width: 100%;
}


.correct {
    animation: correct_bg 1s;
    animation-iteration-count: infinite;
}

@keyframes correct_bg {
    100%   {background:rgb(30, 181, 38);}
}

.incorrect {
    animation: incorrect_bg 1s;
    animation-iteration-count: infinite;
}

@keyframes incorrect_bg {
    100%   {background:rgb(203, 23, 23);}
}


/* For HEAD */

#head {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.head-pref {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: whitesmoke;
}

.head-text {
    text-align: center;
    color: whitesmoke;
    font-size: 4rem;
}

#progressBar {
    margin-top: 2rem;
    border: 0.3rem solid whitesmoke;
    height: 4rem;
    width: 20rem;
}

#progressBarfull {
    background-color: #2e6884;
    height: 3.4rem;
}


/* For loader */

#loader {
    border: 1.2rem whitesmoke solid;
    border-radius: 50%;
    border-top: 1.2rem solid #2e6884;
    width: 10rem;
    height: 10rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
